.outliner{
  margin: auto;
  width: 60%;
  border-color: black;
  border-style:solid;
  border-width: 0.5px;
  padding: 20px 20px 20px 20px;

}

.imagelogo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;

	
}

div.tasks{
	font-size: 20px;
}

div.details{
	text-align: center;
	
}
.main-header {
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}
.nav ul {
    margin: 0;
	
}

.nav li {
    display: inline;
	margin:0 20px 0 0;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
	
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
	background-color:#656262;
}

.pic{
float:left;

}

.main-nav li {
    padding: 0 3%;
}

.nav a:hover {
    background-color:#7B7272;
}



.main-footer {
    background-color: #656262;
    color: white;
    padding: .25em  0;
   margin:30px 0 0 0;
 

}

.main-footer-container {
  
    align-items: left;
}

.main-footer-container ul {
    flex-grow: 1;
  
	display: flex;
}

.footer-nav li {
  
   padding: 0 1%;
   margin-left:auto;
   margin-right:auto;	
}

.footer-nav img {
    width: 30px;
    height: 30px;
}
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}