.body{
	border: 2px solid black;
	margin-top: 0px;
	margin-bottom: 100px;
	margin-right: 350px;
	margin-left: 350px;
	padding: 15px 15px 15px 15px;
}

h2{
	text-align:center;
	font-size:28px;
}
a{
	float:left;
	font-size:20px;
	text-decoration: none;
	display: inline-block;
	padding: 10px 22px;
}

a:hover {
	background-color: #ddd;
	color: black;
}

.previous {
	background-color: #808080;
	color: black;
}

.pulldownbackgroundcolor {
	float: left;
    font-size: 20px;
    text-align: left;
	padding:0px 5px 5px 5px;

}

.pulldownfontcolor {
	float: center;	
    font-size: 20px;
    text-align: right;
	padding:0px 5px 5px 5px;
}

.borderofmenu{
	border-style: none none solid none;
	padding: 0px 0px 0px 0px
}
.borderofimg{
	border-style: solid ;	
	padding: 0px 40px 40px 40px
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/6) */
.numbertext {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #808080;
  padding: 2px 16px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.7;
}

.active,
.demo:hover {
  opacity: 1;
}